<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AcabamentoServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.AcabamentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.AutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditoraServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.EditoraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneroServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.GeneroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdiomaServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.IdiomaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LivroServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.LivroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>br.com.livrariademo.control.VendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AcabamentoServlet</servlet-name>
        <url-pattern>/AcabamentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorServlet</servlet-name>
        <url-pattern>/AutorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditoraServlet</servlet-name>
        <url-pattern>/EditoraServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneroServlet</servlet-name>
        <url-pattern>/GeneroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdiomaServlet</servlet-name>
        <url-pattern>/IdiomaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LivroServlet</servlet-name>
        <url-pattern>/LivroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
